/* 連結按鈕的樣式 */
.page-portal .link-button {
    display: block;
    padding: 15px;
    background-color: #4a5568;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
}

.page-portal .link-button:hover {
    background-color: #2d3748;
    transform: scale(1.03); /* 滑鼠懸停時輕微放大 */
}

/* 【新增】回到首頁按鈕的樣式 */
.page-trpg-list .home-button {
    display: inline-block;
    padding: 8px 18px;
    background-color: #4a5568;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap; /* 防止按鈕文字在空間不足時換行 */
    transition: background-color 0.3s;
}

.page-trpg-list .home-button:hover {
    background-color: #2d3748;
}

.page-trpg-list .details-button {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #4a5568;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}
.page-trpg-list .details-button:hover {
    background-color: #212121;
    
}

/* 【新增】回到首頁按鈕的樣式 */
.page-trpg-log .home-button {
    display: inline-block;
    padding: 8px 18px;
    background-color: #4a5568;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap; /* 防止按鈕文字在空間不足時換行 */
    transition: background-color 0.3s;
}

.page-trpg-log .home-button:hover {
    background-color: #2d3748;
}